.loader {
  border: 8px solid var(--background);
  border-radius: 50%;
  border-top: 8px solid var(--main);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  &.warning {
    border-top: 8px solid var(--contrast);
  }

  &.small {
    width: 20px;
    height: 20px;
    border: 4px solid var(--background);
    border-top: 4px solid var(--main);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
